.subscribe_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    justify-self: center;
    width: 100%;
    transition: 0.4s;
    height: 48px;
    border-radius: 8px;
    background-image: url('../../../images/subscribeBackground.svg');
    background-size: 100% 48px;
    background-repeat: no-repeat;
    color: #ffffff;
    gap: 8px;
    background-color: #1f1b2e;
    border-color: #1f1b2e;
    margin: 32px 0;
}

.subscribe_button:hover {
    background-color: #2d2741;
}